html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
  scrollbar-gutter: stable both-edges;
}

body {
	background-color: #f6f6ec;
	font-family: sans-serif;
}

.container {
	margin: 0 auto;
}

.title {
	margin: 2rem 0;
	font-size: calc(1.6rem + 0.390625vw);
	font-weight: bold;
}

.accordion-item {
	border-top: 1px solid #d2d9e2;
}

.accordion-item:last-child {
	border-bottom: 1px solid #d2d9e2;
}

.accordion-item__label {
	cursor: pointer;
}

.accordion-item__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
	color: #0059d9;
	font-size: calc(0.9rem + 0.390625vw);
	font-weight: bold;
	transition: 0.25s;
}

.accordion:hover .accordion-item__title,
.accordion-item__input:checked + .accordion-item__label > .accordion-item__title {
	color: #000;
}

.accordion-item__label:active > .accordion-item__title {
	color: #0059d9;
}

.accordion-item__icon {
	width: calc(0.65rem + 0.390625vw);
	height: calc(0.65rem + 0.390625vw);
	opacity: 0;
	transition: opacity 0.25s, transform 0.4s;
}

.accordion:hover .accordion-item__icon {
	opacity: 1;
}

.accordion-item__input:not(:checked) + .accordion-item__label:active > .accordion-item__title > .accordion-item__icon {
	filter: invert(22%) sepia(86%) saturate(2568%) hue-rotate(208deg) brightness(94%) contrast(103%);
}

.accordion-item:hover .accordion-item__icon,
.accordion-item__input:checked + .accordion-item__label > .accordion-item__title > .accordion-item__icon {
	transform: rotate(180deg);
}

.accordion-item__input {
	display: none;
}

.accordion-item__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgb(119, 119, 119);
	text-align: center;
	transform: scaleY(0);
	transform-origin: top;
	transition: 0.4s;
}

.accordion-item__input:not(:checked) + .accordion-item__label:active > .accordion-item__content {
	filter: brightness(1.2);
}

.accordion-item__image {
	height: 0;
	transition: 0.4s;
}

.accordion-item__desc {
	margin-top: 0;
	transition: 0.4s;
}

.accordion-item__text {
	font-size: 0;
	font-weight: bold;
	line-height: 1.2;
	text-transform: uppercase;
	text-shadow: 0.1rem 0.1rem 0.2rem black;
	color: #FFF;
	transition: 0.25s ease-in 0.15s;
}

.accordion-item:hover .accordion-item__content,
.accordion-item__input:checked + .accordion-item__label > .accordion-item__content {
	padding: 4%;
	transform: scaleY(1);
}

.accordion-item:hover .accordion-item__image,
.accordion-item__input:checked + .accordion-item__label > .accordion-item__content > .accordion-item__image {
	height: 20vh;
}

.accordion-item:hover .accordion-item__desc,
.accordion-item__input:checked + .accordion-item__label > .accordion-item__content > .accordion-item__desc {
	margin-top: 4%;
}

.accordion-item:hover .accordion-item__text,
.accordion-item__input:checked + .accordion-item__label > .accordion-item__content > .accordion-item__desc > .accordion-item__text {
	font-size: calc(1.1rem + 0.390625vw);
}

@media (max-width: 480px){
	.container { padding: 0 3%; } 
}

@media (min-width: 481px){
	.container { width: 80%; }
}

@media (min-width: 769px){
	.container { width: 70%; }
}

@media (min-width: 1025px){
	.container { width: 60%; }
}

@media (min-width: 1201px){
	.container { width: 50%; }
}
