html,
body {
  scrollbar-gutter: stable both-edges;
}

body {
	background-color: #f6f6ec;
	font-family: sans-serif;
}

.container {
	max-width: 700px;
	margin: 0 auto;
}

.title {
	margin: 2rem 0;
	font-size: 2rem;
	font-weight: bold;
}

.accordion-item {
	border-top: 1px solid #d2d9e2;
}

.accordion-item:last-child {
	border-bottom: 1px solid #d2d9e2;
}

.accordion-item__label {
	cursor: pointer;
}

.accordion-item__title {
	position: relative;
	padding: 1rem 0;
	color: #0059d9;
	font-size: 1.3rem;
	font-weight: bold;
}

.accordion-item__title::before {
	position: absolute;
	top: 0; right: 0;
	display: none;
	content: "\1F7A4";
	height: 100%;
	align-items: center;
}

.accordion:hover .accordion-item__title::before {
	display: flex;
}

.accordion-item:hover .accordion-item__title::before,
.accordion-item__input:checked + .accordion-item__label > .accordion-item__title::before {
	transform: rotate(45deg);
}

.accordion:hover .accordion-item__title,
.accordion-item__input:checked + .accordion-item__label > .accordion-item__title {
	color: #000;
}

.accordion-item__label:active > .accordion-item__title {
	color: #0059d9;
}

.accordion-item__input {
	display: none;
}

.accordion-item__content {
	display: none;
	padding: 1.5rem;
	background-color: rgb(119, 119, 119);
	text-align: center;
}

.accordion-item:hover .accordion-item__content,
.accordion-item__input:checked + .accordion-item__label > .accordion-item__content {
	display: block;
}

.accordion-item__input:not(:checked) + .accordion-item__label:active > .accordion-item__content {
	filter: brightness(1.2);
}

.accordion-item__desc {
	margin-top: 1rem;
}

.accordion-item__text {
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 2px 2px 2px black;
	color: #FFF;
}
