body {
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	max-width: 700px;
	margin: 0 auto;
	background-color: #f6f6ec;
}

.accordion-item {
	border-top: 1px solid #000;
}

.accordion-item__label {
	cursor: pointer;
}

.accordion-item__input {
	display: none;
}

.accordion-item__input:checked + .accordion-item__content {
	display: block;
}

.accordion-item__content {
	display: none;
	text-align: center;
}
